[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/LibStringUtils"]
	path = lib/LibStringUtils
	url = https://github.com/Raiden1411/LibStringUtils
